html {
    width: 400px;
    height: 275px;
}

#check-button{
    background-color: #2a6159;
    color: #ffffff;
    display: block;
    margin: auto;
    border-radius: 15px;
    width: 90px;
    height: 40px;
    border:0;

}

h1 {
    color: #2a6159;
    text-align: center;
    font-style: oblique;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: xx-large ;
}

h4 {
    color: #808080;
    text-align: center;
    margin-left: 5% auto;
    margin-right: 5% auto;
}

#product-name {
    color: #343434;
    text-align: center;
    margin-left: 5% auto;
    margin-right: 5% auto;
}